.control_tab {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.control_tab li {
    float: left;
	padding: 1px 10px;
	background: #606060;
	margin-right: 5px;
	position: relative;
	margin-top: 10px;
	margin-left: 5px;
}
.control_tab li.active:after,.control_tab li:hover:after{
	position: absolute;
    content: "";
    width: 0;
    height: 0;
    bottom: -7px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 7px solid #f49211;
    left: 0px;
    right: 0px;
    margin: 0 auto;
}
.control_tab li:hover,.control_tab li.active{
    background: #f49211;
}
.control_tab li a{
	color: #fff;
	text-transform: uppercase;
	font-size: 11px;
	display: block;
	font-weight: 600;
	line-height: 20px;
}
.control_link{
	height: 37px;
	background: #bbb;
  	padding: 0px 15px;
  	text-align: right;
}
.control_link ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.control_link ul li{
	display: inline-block;
	margin-top: 3px;
	margin-right: 20px;
	position: relative;
	margin-left: 8px;
}
.control_link ul li:after{
	position: absolute;
	content: "";
	height: 19px;
	width: 1px;
	background: #fff;
	top: 4px;
	right: -16px;
}
.control_link ul li:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 100%;
    bottom: -20px;
    left: 0px;
}
.control_link ul li:last-child:after{
	content: none;
}
.control_link ul li a{
	color: #fff;
	font-size: 14px;
	display: block;
}
.version_drop {
    position: absolute;
	background: rgba(188, 178, 178, 0.5);
	min-width: 105px;
	right: -30px;
	margin-top: 12px;
	padding: 4px 10px;
	border-radius: 0px;
	text-align: left;
	z-index: 111;
}
.version_drop a {
    font-size: 12px !important;
    line-height: 18px;
    color: #626262 !important;
}
.version_drop i{
	padding-right: 5px;
	color: #fff !important;
}
.layout_body{
	padding: 15px;
    min-height: 480px;
    border-left: 1px solid #ddd;
	margin: 15px 0px;
}
.layout_title{
	margin-bottom: 22px;
	padding-right: 120px;
}
.layout_sub_title{
	margin-bottom: 13px;
}
.layout_title h5,.layout_sub_title h6{
	padding: 0px;
	margin: 0px;
	font-size: 1.125rem;
	line-height: 1.2; 
	font-weight: 600 !important;
	color: #626262;
}
.layout_title p,.layout_sub_title p{
	color: #626262;
	font-size: 13px;	
	margin-top: 2px;
}
.layout_sub_title p a{
	text-decoration: underline;
}
.layout_sub_title h6{
	font-size: 1rem;
	font-weight: 400 !important;
}
.tree_radio{
	margin-top: 10px;
}
.tree_text{
	margin-top: 5px;
	height: 80px;
}
.tree_view .control{
	padding-right: 15px;
}
.tab_list{
	display: none;
}
.tab_1{
	display: block;
}
.layout_sub_title h3{
	margin: 0px;
	font-size: 1rem;
	line-height: 25px;
	font-weight: 600 !important;
	color: #fff;
	background: #b0b5ba;
	padding: 0px 11px 3px;
}
.tree_tabel {
    margin-top: 0px;
}
.layout_sub_title .btn{
	margin-top: 5px;
}
.tree_tabel .layout_sub_title{
	margin-bottom: 0px;
}
.layout_sub_title tr p{
	margin: 0px 0px 4px;
}
.budge {
    display: inline-block;
    background: #f49211;
    color: #fff;
    padding: 1px 9px 4px;
    margin-right: 5px;
}
.budge a{
	color: #fff;
}
.wizard_tab{

}
.wizard_tab > li {
    position: relative;
    overflow: visible;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    margin: 0px;
    background: none;
    padding: 0px;
    margin-top: 7px;
}
.wizard_tab > li:first-child {
    border-left: 0;
}
.wizard_tab > li > a {
    position: relative;
    display: block;
    padding: 5px 10px;
    background: #606060;
    transition: none !important;
}
.wizard_tab li:hover, .wizard_tab li.active {
    background:transparent;
}
.wizard_tab > li.active a,.wizard_tab > li:hover a {
    background-color: #f49211;
    color: #fff;
}
.wizard_tab li.active::after, .wizard_tab li:hover::after {
    content:none;
}
.wizard_tab > li .nav-arrow {
    position: absolute;
    top: 0px;
    right: -15px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 15px 0 15px 15px;
    border-color: transparent transparent transparent #606060;
    z-index: 150;
}
.wizard_tab > li.active .nav-arrow,.wizard_tab > li:hover .nav-arrow {
    border-color: transparent transparent transparent #f49211;
}
.wizard_tab > li.active .nav-wedge,.wizard_tab > li:hover .nav-wedge {
    border-color: #f49211 #f49211 #f49211 transparent;
}
.wizard_tab > li .nav-wedge {
    position: absolute;
    top: 0px;
    left: -15px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 15px 0 15px 15px;
    border-color: #606060 #606060 #606060 transparent;
    z-index: 150;
}