.chart_design{
    background: red;
}
/*------------------- Add Gradient Start ----------------*/
.addgradient{     
background: rgba(0,255,81,1);
background: -moz-linear-gradient(left, rgba(0,255,81,1) 0%, rgba(255,0,132,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,255,81,1)), color-stop(100%, rgba(255,0,132,1)));
background: -webkit-linear-gradient(left, rgba(0,255,81,1) 0%, rgba(255,0,132,1) 100%);
background: -o-linear-gradient(left, rgba(0,255,81,1) 0%, rgba(255,0,132,1) 100%);
background: -ms-linear-gradient(left, rgba(0,255,81,1) 0%, rgba(255,0,132,1) 100%);
background: linear-gradient(to right, rgba(0,255,81,1) 0%, rgba(255,0,132,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ff51', endColorstr='#ff0084', GradientType=1 );
}
/*------------------- Add Gradient End ----------------*/
.line{
    display: block;
    margin-bottom: 0px;
    line-height: 0px;
    opacity: 0;
    visibility: hidden;
    margin-top: -4px;
}
.chart_design {
    margin: 0px;
    padding: 0px;
    display: inline-block;
    list-style: none;
    border-style: solid;
    border-bottom: 0px !important;
}
.chart_cell{
    display:block;
    border-style: solid;
    border-top: 0px;
    border-right: 0px;
    float: left;
}
.line {
    margin-top: 0px !important;
    font-size: 0px;
    max-height: 0px;
}
.line + .chart_cell,.chart_cell:first-child{
    border-left: 0px;
}
.chart_outer{
    position: relative;
    display: inline-block;
    float: left;
}
.marker{
    position: absolute;
    text-align: center;
    font-weight: bold;
}
.chart_dispaly{
    position: relative;
    float: left;
}
.axis_left_outer{
    float: left;
    margin-right: 10px;
    position: relative;
}
.axis_left{
    padding: 0px;
    margin: 0px;
    list-style: none;
}
.axis_left li{
    display: flex;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 11px;
    align-items: center;
    justify-content: right;
}
.axis_bottom{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.axis_bottom li{
    float: left;
    text-align: center;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 11px;
    margin-top: 0px;
}
.total_axis_x,.total_axis_y{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 7px;
    font-weight: 600;
    font-size: 14px;
    text-transform: capitalize;
}
.axis_left{
    float: left;
    padding-left: 30px;
}
.total_axis_y{
    position: absolute;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
    writing-mode:tb-rl;
    white-space:nowrap;
    display:block;
    bottom:0;
    margin: 0px;
    top: 0px;
    height: 100%;
}