.select-custome .dropdown-menu>li{
			white-space: pre-wrap;
			color:none;
		}
		.icons-list{
			width:100%;
		}
		.icons-list .dropdown{
			width:100%;
		}
		.custome-button{
			height:auto;
			white-space: inherit;
		}
		
		
		
		.dropdown-menu div{
			//line-height:0.6;
			padding-bottom: 5px;
		}
		.dropdown-menu p,.heading{
			text-align: left;
			margin-bottom: 0px;
		}
		.select-custome .btn-group{
			display: block;
		}
		.multiselect-selected-text p{
			text-align:left;
		}
		
		.multiselect-selected-text span{
			margin-bottom:0px;
		}
		
		.custome-select{
			text-align:left;
		}
		
		.custome_alert .alert{
			padding-top:0px;
			padding-bottom: 5px;
		}
		.alert{
			border-radius: 1px;
		}
		
		/* alert */
		.alert[class*=alert-styled-]:after, .ui-pnotify[class*=alert-styled-]>.alert:after{
			content: '';
				font-family: none;
		}
		.alert_font{
			color: #fff;
			width: 44px;
			left: -44px;
			text-align: center;
			position: absolute;
			top: 50%;
			margin-top: -8px;
			font-size: 16px;
			font-weight: 400;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}
		.close:after{
			content: '\e9b6';
			font-family: 'icomoon';
			font-size: 16px;
			min-width: 16px;
			color:#1d2129;
		}
		
		.alert .close, .alert .close:hover, .alert .close:focus{
			color:#1d2129;
		}
		
		.dataTables_filter{
			float:left;
			margin: 0px 10px 10px 0px;
		}
		#table2_filter{
			float:right;
			margin: 0px 10px 10px 0px;
		}
		
		#custome_select_table{
			margin-bottom: -30px;
			position: relative;
			z-index: 1000;
			width: 300px;
		}
		#table2{
			margin-top:20px;
		}