.dTree a
{
    height: 18px;
    display: inline-block;
    padding-top: 0px;
    color:#000;
    text-decoration: none;
}
.dTree .text
{
    height: 18px;
    display: inline-block;
    float: left;
    text-decoration: none;
}
.dTree li
{
    height: 18px;
    display: block;
    width: 300px;
    line-height: 20px;
}
.dTree li.folder-group
{
    height: auto;
    
}
.dTree .folder-group ul
{
   padding-left: 20px;
   display: none;
}
.dTree .folder
{
    background: url('../images/misc.png') 0px -39px no-repeat;
    padding-left: 20px;
     height: 18px;
    display: inline-block;
    float: left;
    transition: all 0.5s ease-in-out;
}
.dTree .folder-open
{
    background: url('../images/misc.png') -21px -39px no-repeat;
    padding-left: 20px;
    height: 18px;
    display: inline-block;
    float: left;
    transition: all 0.5s ease-in-out;
}
.dTree .main
{
    background: url('../images/misc.png') 2px 0 no-repeat;
    width: 18px;
    height: 18px;
    display: inline-block;
    float: left;
}
.dTree .folder-group
{
    background: url('../images/misc.png') -46px -2px repeat-y;
}
.dTree .folder-group.last
{
   background: none;
}
.dTree .plus
{
    background: url('../images/misc.png') 0px -59px no-repeat;
    padding-left: 20px;
    display: inline-block;
    height: 18px;
    float: left;
}
.dTree .last .plus
{
    background: url('../images/misc.png') 0px -82px no-repeat;
    padding-left: 20px;
    display: inline-block;
    height: 18px;
    float: left;
}
.dTree .folder-group.last .minus
{
    background: url('../images/misc.png') -18px -82px no-repeat;
    padding-left: 20px;
    display: inline-block;
    height: 18px;
    float: left;
}
.dTree .minus
{
    background: url('../images/misc.png') -18px -59px no-repeat #fff;
    padding-left: 20px;
    display: inline-block;
    height: 18px;
    float: left;
}
.dTree .page
{
    background: url('../images/misc.png') no-repeat;
    width: 18px;
    height: 18px;
    display: inline-block;
    float: left;
}
.dTree .join
{
    background: url('../images/misc.png') 0 -20px no-repeat;
    width: 18px;
    height: 18px;
    display: inline-block;
    float: left;
}
.dTree .join-last .join
{
    background: url('../images/misc.png') -18px -20px no-repeat;
    width: 18px;
    height: 18px;
    display: inline-block;
    float: left;
}