.file-icon-background {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}
.file-icon {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  width: 2.33333333em;
  line-height: 1em;
  height:25px;
}
.file-icon:before {
  content: "\00a0";
}
.file-icon.file-icon-squared {
  width: 1em;
}



.file-icon-pdf{
	background-image: url('../images/file-icons/pdf.svg');
	
}

.file-icon-doc{
	background-image: url('../images/file-icons/doc.svg');
	
}