.list_btn {
    margin-top: 10px;
    margin-bottom: 15px;
}
.list_btn > div{
    margin-bottom: 5px;
}
.list_btn .btn-fw {
    min-width: 5.2rem;
}
.save_upload.modal .modal-header {
    padding: 0px 15px 10px 15px;
    border-bottom: 1px solid #eee;
}
.save_upload.modal .modal-title {
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 18px;
    font-weight: 600;
}
.save_upload.modal .modal-header .close {
    padding: 5px;
    top: 0%;
    cursor: pointer;
}
.save_upload.modal .modal-body {
    padding: 15px;
}
#graphs{
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: inline-block;
    background: red;
}
.graphs_cell{
    height: 80px;
    width: 80px;
    border:2px solid #fff;
    display: inline-block;
    cursor: pointer;
    position: relative;
    border-bottom: 0px;
    border-right: 0px;
}
.graphs_cell span{
    height: 28px;
    width: 28px;
    position: absolute;
    text-align: center;
    color: #fff;
    font-weight: bold;
    line-height: 28px;
    font-size: 12px;
    background: rgba(0,0,0,0.5);
    top: 10px;
    right: 10px;
}
.line{
    display: block;
    margin-bottom: 0px;
    line-height: 0px;
    opacity: 0;
    visibility: hidden;
    margin-top: -4px;
}
.palette__item {
    flex: 0 1 10%;
    box-sizing: border-box;
    padding: 5px;
    transition: all .1s ease-in-out;
    cursor: pointer;
}
.palette__gradient {
    height: 100px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.palette__name {
    text-align: center;
    color: #fff;
    margin: 0;
    padding: 0;
    font-size: 15px;
}
.palette__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}
.palette__item:hover {
    background-color: #222;
    transform: scale(1.01);
}
.gradient_list {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 99999;
    background: #fff;
    overflow: hidden;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    display: none;
}
.gradient_list.active{
    display: block;
}
.colse_pattent{
    font-size: 20px;
    text-align: right;
    padding: 10px 25px;
    border-bottom: 1px solid #ddd;
    display: block;
    cursor: pointer;
}