.list_btn {
    margin-top: 10px;
    margin-bottom: 15px;
}
.list_btn > div{
    margin-bottom: 5px;
}
.list_btn .btn-fw {
    min-width: 5.2rem;
}
.wizard {
    max-width: 1075px;
    overflow: hidden;
}
#add_wizard {
    padding: 0px;
    margin: 0px;
    list-style: none;
    margin-top: 20px;
    width: 100%;
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;
    min-height: 300px;
}
#add_wizard li{
    display: inline-block;
    vertical-align: top;
}
#add_wizard li h3{
    background-color: #3e68f0;
    color: #fff;
    border-radius: 0px;
    display: inline-block;
    padding: 13px 30px 13px 50px;
    width: auto;
    margin: 0px;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    font-family: Arial;
    margin-right: 0px;
    line-height: 28px;
    position: relative;
    min-width: 192px;
    text-align: center;
}
#add_wizard li h3::before, #add_wizard li h3::after {
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    border-color: transparent;
    border-left-color: #fff;
    border-radius: 10px;
}
#add_wizard li h3::before {
    border-width: 33px;
    margin-top: -19px;
    right: -61px;
    z-index: 1;
}
#add_wizard li h3::after {
    border-left-color: #3e68f0;
    border-width: 30px;
    margin-top: -16px;
    right: -51px;
    z-index: 1;
}
#add_wizard li:last-child h3::after,#add_wizard li:last-child h3::before {
    content: none;
}
.wizard_list {
    margin-top: 0px;
    min-height: 30px;
    width: 100%;
    border: 1px solid #ddd;
    border-top:0px;
    margin-left: 0px;
    padding: 10px;
    overflow-x: hidden;
}
.wizard_list .editable{
    font-size: 14px;
    color: #333;
    margin-bottom: 0px;
    cursor: pointer;
}
#add_wizard li:first-child .wizard_list{
    margin-left: 0px;
    border-left: 1px solid #ddd;
}
.save_upload.modal .modal-header {
    padding: 0px 15px 10px 15px;
    border-bottom: 1px solid #eee;
}
.save_upload.modal .modal-title {
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 18px;
    font-weight: 600;
}
.save_upload.modal .modal-header .close {
    padding: 5px;
    top: 0%;
    cursor: pointer;
}
.save_upload.modal .modal-body {
    padding: 15px;
}
.editable ul{
    margin: 0px;
    padding: 0px;
}
.editable ul li{
    display: block !important;
    position: relative;
    padding-left: 12px;
}
.editable ul li:before{
   position: absolute;
    content: "";
    height: 6px;
    width: 6px;
    background: #333;
    border-radius: 50%;
    left: 0px;
    top: 11px;
}
.save_wizard_value .note-editing-area {
    min-height: 120px;
}