.repeat_row_form{
	width: 100%;
}
.radio_list > div,.checkbox_list > div,.repeat_row_form .leftclass{
	float: left;
}
.radio_list.form,.checkbox_list.form{
   min-height: 35px;
}
.repeat_row_clone{
	margin-bottom: 20px;
}