.grow1{
	font-size: 0.8rem;
	line-height: 1.5;
	padding: .375rem .5rem !important;
	height: 33.2px !important;
	border: 1px solid rgba(120, 130, 140, 0.2) !important;
}
.grow1::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(120, 130, 140, 0.4) !important;
}
.grow1::-moz-placeholder { /* Firefox 19+ */
  color: rgba(120, 130, 140, 0.4) !important;
}
.grow1:-ms-input-placeholder { /* IE 10+ */
  color: rgba(120, 130, 140, 0.4) !important;
}
.grow1:-moz-placeholder { /* Firefox 18- */
  color: rgba(120, 130, 140, 0.4) !important;
}
.note-editor {
	border: 1px solid #a9a9a9 !important;
}
.bootstrap-tagsinput .tag{
	padding:5px !important;
	border-radius: 0px;
	background-color: #808080;
	color: #fff;
	font-size: 12px;
	line-height: 1.6666667;
	border-radius: 1px;
	text-transform: none !important;
}
.bootstrap-tagsinput .label-info {
	border-color: #fff !important;
}
.form-group,.select2-container--default .select2-selection,.bootstrap-tagsinput {
	border-radius: 0px !important;
}
.intl-tel-input {
	width: 100% !important;
}
.datepicker,.bootstrap-datetimepicker-widget,.fr-toolbar,.select2-selection__choice {
	border-radius: 0px !important;
}
.fr-toolbar {
	border-top: 5px solid #fff !important;
	border: 1px solid rgba(120, 130, 140, 0.2) !important;
}
.small-textarea {
	height: 32px;
}
.datepicker-calendar-icon {
	height: 35px !important;
}
#input-single-file-upload,.img-preview-container {
	display: : none !important;
}
.img-file-upload-preview {
	height: auto;
	width: 507px;
}
.input-file {
	width: 100% !important;
	display: none;
}
.img-file-name, .img-file-name-text {
	border:1px solid rgba(120, 130, 140, 0.2);
	width: 100% !important;
	height: 35px;
	padding: 3px 12px;
	border-right: 0px;
	overflow: hidden;
	line-height: 25px;
	color: #212529;
	font-family: Arial,sans-serif;
}
.position_caret_right{
      position: absolute;
      right: calc(2% - 1px);
}
.btn-file-remove {
	display: none;
	border-right: 1px solid rgba(120, 130, 140, 0.2) !important;
}
.file-upload-btn-container {
	border: 1px solid rgba(120, 130, 140, 0.2) !important;
}
.btn-add-more-image-upload {
	margin-bottom: 10px !important;
}

.checkbox-label {
		display: block;
		padding-left: 15px;
		text-indent: -15px;
	}
	.checkbox-input {
		width: 13px;
		height: 13px;
		padding: 0;
		margin:0;
		vertical-align: bottom;
		position: relative;
		top: -2px;
		*overflow: hidden;
	}
	.radio-input {
		width: 13px;
		height: 13px;
		padding: 0;
		margin:0;
		vertical-align: bottom;
		position: relative;
		top: -3px;
		*overflow: hidden;
	}
	.multiple-select-left-column-container {
		height: 480px !important;
	}
	select[multiple] option, select[size] option  {
		border-radius: 0px !important;
	}
	.dropdown-menu-option-3{
		width: 100% !important;
	}
	.remove-image-upload-row {
		color: #fff !important;
		background-color: maroon;
		display: none;
	}
.color-picker-arrow {
	    position: absolute !important;
    left: calc(2% - -23px);
    top: calc(2% - -36px);
}


	
	