/* Variables CSS*/

/* Define Colors - Start*/
.text_Pink { color: #FFC0CB; } 	.background_Pink { background-color: #FFC0CB; } 	.background_gradient_Pink { background: linear-gradient(to bottom, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%); } .border_Pink { border-color: #FFC0CB; } .bordertop_Pink{border-top-color: #FFC0CB;} .borderleft_Pink{border-left-color: #FFC0CB;}
.text_LightPink { color: #FFB6C1; } 	.background_LightPink { background-color: #FFB6C1; } 	.border_LightPink { border-color: #FFB6C1; } .bordertop_LightPink{border-top-color: #FFB6C1;}
.text_HotPink { color: #FF69B4; } 	.background_HotPink { background-color: #FF69B4; } 	.border_HotPink { border-color: #FF69B4; } .bordertop_HotPink{border-top-color: #FF69B4;}
.text_DeepPink { color: #FF1493; } 	.background_DeepPink { background-color: #FF1493; } 	.border_DeepPink { border-color: #FF1493; } 
.text_PaleVioletRed { color: #DB7093; } 	.background_PaleVioletRed { background-color: #DB7093; } 	.border_PaleVioletRed { border-color: #DB7093; } 
.text_MediumVioletRed { color: #C71585; } 	.background_MediumVioletRed { background-color: #C71585; } 	.border_MediumVioletRed { border-color: #C71585; } 
		
.text_LightSalmon { color: #FFA07A; } 	.background_LightSalmon { background-color: #FFA07A; } 	.border_LightSalmon { border-color: #FFA07A; } 
.text_Salmon { color: #FA8072; } 	.background_Salmon { background-color: #FA8072; } 	.border_Salmon { border-color: #FA8072; } 
.text_DarkSalmon { color: #E9967A; } 	.background_DarkSalmon { background-color: #E9967A; } 	.border_DarkSalmon { border-color: #E9967A; } 
.text_LightCoral { color: #F08080; } 	.background_LightCoral { background-color: #F08080; } 	.border_LightCoral { border-color: #F08080; } 
.text_IndianRed { color: #CD5C5C; } 	.background_IndianRed { background-color: #CD5C5C; } 	.border_IndianRed { border-color: #CD5C5C; } 
.text_Crimson { color: #DC143C; } 	.background_Crimson { background-color: #DC143C; } 	.border_Crimson { border-color: #DC143C; } 
.text_FireBrick { color: #B22222; } 	.background_FireBrick { background-color: #B22222; } 	.border_FireBrick { border-color: #B22222; } 
.text_DarkRed { color: #8B0000; } 	.background_DarkRed { background-color: #8B0000; } 	.border_DarkRed { border-color: #8B0000; } 
.text_Red { color: #FF0000; } 	.background_Red { background-color: #FF0000; } 	.border_Red { border-color: #FF0000; } 
		
.text_OrangeRed { color: #FF4500; } 	.background_OrangeRed { background-color: #FF4500; } 	.border_OrangeRed { border-color: #FF4500; } 
.text_Tomato { color: #FF6347; } 	.background_Tomato { background-color: #FF6347; } 	.border_Tomato { border-color: #FF6347; } 
.text_Coral { color: #FF7F50; } 	.background_Coral { background-color: #FF7F50; } 	.border_Coral { border-color: #FF7F50; } 
.text_DarkOrange { color: #FF8C00; } 	.background_DarkOrange { background-color: #FF8C00; } 	.border_DarkOrange { border-color: #FF8C00; } 
.text_Orange { color: #FFA500; } 	.background_Orange { background-color: #FFA500; } 	.border_Orange { border-color: #FFA500; } 
		
.text_Yellow { color: #FFFF00; } 	.background_Yellow { background-color: #FFFF00; } 	.border_Yellow { border-color: #FFFF00; } 
.text_LightYellow { color: #FFFFE0; } 	.background_LightYellow { background-color: #FFFFE0; } 	.border_LightYellow { border-color: #FFFFE0; } 
.text_LemonChiffon { color: #FFFACD; } 	.background_LemonChiffon { background-color: #FFFACD; } 	.border_LemonChiffon { border-color: #FFFACD; } 
.text_LightGoldenrodYellow { color: #FAFAD2; } 	.background_LightGoldenrodYellow { background-color: #FAFAD2; } 	.border_LightGoldenrodYellow { border-color: #FAFAD2; } 
.text_PapayaWhip { color: #FFEFD5; } 	.background_PapayaWhip { background-color: #FFEFD5; } 	.border_PapayaWhip { border-color: #FFEFD5; } 
.text_Moccasin { color: #FFE4B5; } 	.background_Moccasin { background-color: #FFE4B5; } 	.border_Moccasin { border-color: #FFE4B5; } 
.text_PeachPuff { color: #FFDAB9; } 	.background_PeachPuff { background-color: #FFDAB9; } 	.border_PeachPuff { border-color: #FFDAB9; } 
.text_PaleGoldenrod { color: #EEE8AA; } 	.background_PaleGoldenrod { background-color: #EEE8AA; } 	.border_PaleGoldenrod { border-color: #EEE8AA; } 
.text_Khaki { color: #F0E68C; } 	.background_Khaki { background-color: #F0E68C; } 	.border_Khaki { border-color: #F0E68C; } 
.text_DarkKhaki { color: #BDB76B; } 	.background_DarkKhaki { background-color: #BDB76B; } 	.border_DarkKhaki { border-color: #BDB76B; } 
.text_Gold { color: #FFD700; } 	.background_Gold { background-color: #FFD700; } 	.border_Gold { border-color: #FFD700; } 
		
.text_Cornsilk { color: #FFF8DC; } 	.background_Cornsilk { background-color: #FFF8DC; } 	.border_Cornsilk { border-color: #FFF8DC; } 
.text_BlanchedAlmond { color: #FFEBCD; } 	.background_BlanchedAlmond { background-color: #FFEBCD; } 	.border_BlanchedAlmond { border-color: #FFEBCD; } 
.text_Bisque { color: #FFE4C4; } 	.background_Bisque { background-color: #FFE4C4; } 	.border_Bisque { border-color: #FFE4C4; } 
.text_NavajoWhite { color: #FFDEAD; } 	.background_NavajoWhite { background-color: #FFDEAD; } 	.border_NavajoWhite { border-color: #FFDEAD; } 
.text_Wheat { color: #F5DEB3; } 	.background_Wheat { background-color: #F5DEB3; } 	.border_Wheat { border-color: #F5DEB3; } 
.text_BurlyWood { color: #DEB887; } 	.background_BurlyWood { background-color: #DEB887; } 	.border_BurlyWood { border-color: #DEB887; } 
.text_Tan { color: #D2B48C; } 	.background_Tan { background-color: #D2B48C; } 	.border_Tan { border-color: #D2B48C; } 
.text_RosyBrown { color: #BC8F8F; } 	.background_RosyBrown { background-color: #BC8F8F; } 	.border_RosyBrown { border-color: #BC8F8F; } 
.text_SandyBrown { color: #F4A460; } 	.background_SandyBrown { background-color: #F4A460; } 	.border_SandyBrown { border-color: #F4A460; } 
.text_Goldenrod { color: #DAA520; } 	.background_Goldenrod { background-color: #DAA520; } 	.border_Goldenrod { border-color: #DAA520; } 
.text_DarkGoldenrod { color: #B8860B; } 	.background_DarkGoldenrod { background-color: #B8860B; } 	.border_DarkGoldenrod { border-color: #B8860B; } 
.text_Peru { color: #CD853F; } 	.background_Peru { background-color: #CD853F; } 	.border_Peru { border-color: #CD853F; } 
.text_Chocolate { color: #D2691E; } 	.background_Chocolate { background-color: #D2691E; } 	.border_Chocolate { border-color: #D2691E; } 
.text_SaddleBrown { color: #8B4513; } 	.background_SaddleBrown { background-color: #8B4513; } 	.border_SaddleBrown { border-color: #8B4513; } 
.text_Sienna { color: #A0522D; } 	.background_Sienna { background-color: #A0522D; } 	.border_Sienna { border-color: #A0522D; } 
.text_Brown { color: #A52A2A; } 	.background_Brown { background-color: #A52A2A; } 	.border_Brown { border-color: #A52A2A; } 
.text_Maroon { color: #800000; } 	.background_Maroon { background-color: #800000; } 	.border_Maroon { border-color: #800000; } 
		
.text_DarkOliveGreen { color: #556B2F; } 	.background_DarkOliveGreen { background-color: #556B2F; } 	.border_DarkOliveGreen { border-color: #556B2F; } 
.text_Olive { color: #808000; } 	.background_Olive { background-color: #808000; } 	.border_Olive { border-color: #808000; } 
.text_OliveDrab { color: #6B8E23; } 	.background_OliveDrab { background-color: #6B8E23; } 	.border_OliveDrab { border-color: #6B8E23; } 
.text_YellowGreen { color: #9ACD32; } 	.background_YellowGreen { background-color: #9ACD32; } 	.border_YellowGreen { border-color: #9ACD32; } 
.text_LimeGreen { color: #32CD32; } 	.background_LimeGreen { background-color: #32CD32; } 	.border_LimeGreen { border-color: #32CD32; } 
.text_Lime { color: #00FF00; } 	.background_Lime { background-color: #00FF00; } 	.border_Lime { border-color: #00FF00; } 
.text_LawnGreen { color: #7CFC00; } 	.background_LawnGreen { background-color: #7CFC00; } 	.border_LawnGreen { border-color: #7CFC00; } 
.text_Chartreuse { color: #7FFF00; } 	.background_Chartreuse { background-color: #7FFF00; } 	.border_Chartreuse { border-color: #7FFF00; } 
.text_GreenYellow { color: #ADFF2F; } 	.background_GreenYellow { background-color: #ADFF2F; } 	.border_GreenYellow { border-color: #ADFF2F; } 
.text_SpringGreen { color: #00FF7F; } 	.background_SpringGreen { background-color: #00FF7F; } 	.border_SpringGreen { border-color: #00FF7F; } 
.text_MediumSpringGreen { color: #00FA9A; } 	.background_MediumSpringGreen { background-color: #00FA9A; } 	.border_MediumSpringGreen { border-color: #00FA9A; } 
.text_LightGreen { color: #90EE90; } 	.background_LightGreen { background-color: #90EE90; } 	.border_LightGreen { border-color: #90EE90; } 
.text_PaleGreen { color: #98FB98; } 	.background_PaleGreen { background-color: #98FB98; } 	.border_PaleGreen { border-color: #98FB98; } 
.text_DarkSeaGreen { color: #8FBC8F; } 	.background_DarkSeaGreen { background-color: #8FBC8F; } 	.border_DarkSeaGreen { border-color: #8FBC8F; } 
.text_MediumAquamarine { color: #66CDAA; } 	.background_MediumAquamarine { background-color: #66CDAA; } 	.border_MediumAquamarine { border-color: #66CDAA; } 
.text_MediumSeaGreen { color: #3CB371; } 	.background_MediumSeaGreen { background-color: #3CB371; } 	.border_MediumSeaGreen { border-color: #3CB371; } 
.text_SeaGreen { color: #2E8B57; } 	.background_SeaGreen { background-color: #2E8B57; } 	.border_SeaGreen { border-color: #2E8B57; } 
.text_ForestGreen { color: #228B22; } 	.background_ForestGreen { background-color: #228B22; } 	.border_ForestGreen { border-color: #228B22; } 
.text_Green { color: #008000; } 	.background_Green { background-color: #008000; } 	.border_Green { border-color: #008000; } 
.text_DarkGreen { color: #006400; } 	.background_DarkGreen { background-color: #006400; } 	.border_DarkGreen { border-color: #006400; } 
.text_Cyan colors { color: #; } 	.background_Cyan colors { background-color: #; } 	.border_Cyan colors { border-color: #; } 
.text_Aqua { color: #00FFFF; } 	.background_Aqua { background-color: #00FFFF; } 	.border_Aqua { border-color: #00FFFF; } 
.text_Cyan { color: #00FFFF; } 	.background_Cyan { background-color: #00FFFF; } 	.border_Cyan { border-color: #00FFFF; } 
.text_LightCyan { color: #E0FFFF; } 	.background_LightCyan { background-color: #E0FFFF; } 	.border_LightCyan { border-color: #E0FFFF; } 
.text_PaleTurquoise { color: #AFEEEE; } 	.background_PaleTurquoise { background-color: #AFEEEE; } 	.border_PaleTurquoise { border-color: #AFEEEE; } 
.text_Aquamarine { color: #7FFFD4; } 	.background_Aquamarine { background-color: #7FFFD4; } 	.border_Aquamarine { border-color: #7FFFD4; } 
.text_Turquoise { color: #40E0D0; } 	.background_Turquoise { background-color: #40E0D0; } 	.border_Turquoise { border-color: #40E0D0; } 
.text_MediumTurquoise { color: #48D1CC; } 	.background_MediumTurquoise { background-color: #48D1CC; } 	.border_MediumTurquoise { border-color: #48D1CC; } 
.text_DarkTurquoise { color: #00CED1; } 	.background_DarkTurquoise { background-color: #00CED1; } 	.border_DarkTurquoise { border-color: #00CED1; } 
.text_LightSeaGreen { color: #20B2AA; } 	.background_LightSeaGreen { background-color: #20B2AA; } 	.border_LightSeaGreen { border-color: #20B2AA; } 
.text_CadetBlue { color: #5F9EA0; } 	.background_CadetBlue { background-color: #5F9EA0; } 	.border_CadetBlue { border-color: #5F9EA0; } 
.text_DarkCyan { color: #008B8B; } 	.background_DarkCyan { background-color: #008B8B; } 	.border_DarkCyan { border-color: #008B8B; } 
.text_Teal { color: #008080; } 	.background_Teal { background-color: #008080; } 	.border_Teal { border-color: #008080; } 
		
.text_LightSteelBlue { color: #B0C4DE; } 	.background_LightSteelBlue { background-color: #B0C4DE; } 	.border_LightSteelBlue { border-color: #B0C4DE; } 
.text_PowderBlue { color: #B0E0E6; } 	.background_PowderBlue { background-color: #B0E0E6; } 	.border_PowderBlue { border-color: #B0E0E6; } 
.text_LightBlue { color: #ADD8E6; } 	.background_LightBlue { background-color: #ADD8E6; } 	.border_LightBlue { border-color: #ADD8E6; } 
.text_SkyBlue { color: #87CEEB; } 	.background_SkyBlue { background-color: #87CEEB; } 	.border_SkyBlue { border-color: #87CEEB; } 
.text_LightSkyBlue { color: #87CEFA; } 	.background_LightSkyBlue { background-color: #87CEFA; } 	.border_LightSkyBlue { border-color: #87CEFA; } 
.text_DeepSkyBlue { color: #00BFFF; } 	.background_DeepSkyBlue { background-color: #00BFFF; } 	.border_DeepSkyBlue { border-color: #00BFFF; } 
.text_DodgerBlue { color: #1E90FF; } 	.background_DodgerBlue { background-color: #1E90FF; } 	.border_DodgerBlue { border-color: #1E90FF; } 
.text_CornflowerBlue { color: #6495ED; } 	.background_CornflowerBlue { background-color: #6495ED; } 	.border_CornflowerBlue { border-color: #6495ED; } 
.text_SteelBlue { color: #4682B4; } 	.background_SteelBlue { background-color: #4682B4; } 	.border_SteelBlue { border-color: #4682B4; } 
.text_RoyalBlue { color: #041690; } 	.background_RoyalBlue { background-color: #041690; } 	.border_RoyalBlue { border-color: #041690; } 
.text_Blue { color: #0000FF; } 	.background_Blue { background-color: #0000FF; } 	.border_Blue { border-color: #0000FF; } 
.text_MediumBlue { color: #0000CD; } 	.background_MediumBlue { background-color: #0000CD; } 	.border_MediumBlue { border-color: #0000CD; } 
.text_DarkBlue { color: #00008B; } 	.background_DarkBlue { background-color: #00008B; } 	.border_DarkBlue { border-color: #00008B; } 
.text_Navy { color: #000080; } 	.background_Navy { background-color: #000080; } 	.border_Navy { border-color: #000080; } 
.text_MidnightBlue { color: #191970; } 	.background_MidnightBlue { background-color: #191970; } 	.border_MidnightBlue { border-color: #191970; } 
		
.text_Lavender { color: #E6E6FA; } 	.background_Lavender { background-color: #E6E6FA; } 	.border_Lavender { border-color: #E6E6FA; } 
.text_Thistle { color: #D8BFD8; } 	.background_Thistle { background-color: #D8BFD8; } 	.border_Thistle { border-color: #D8BFD8; } 
.text_Plum { color: #DDA0DD; } 	.background_Plum { background-color: #DDA0DD; } 	.border_Plum { border-color: #DDA0DD; } 
.text_Violet { color: #EE82EE; } 	.background_Violet { background-color: #EE82EE; } 	.border_Violet { border-color: #EE82EE; } 
.text_Orchid { color: #DA70D6; } 	.background_Orchid { background-color: #DA70D6; } 	.border_Orchid { border-color: #DA70D6; } 
.text_Fuchsia { color: #FF00FF; } 	.background_Fuchsia { background-color: #FF00FF; } 	.border_Fuchsia { border-color: #FF00FF; } 
.text_Magenta { color: #FF00FF; } 	.background_Magenta { background-color: #FF00FF; } 	.border_Magenta { border-color: #FF00FF; } 
.text_MediumOrchid { color: #BA55D3; } 	.background_MediumOrchid { background-color: #BA55D3; } 	.border_MediumOrchid { border-color: #BA55D3; } 
.text_MediumPurple { color: #9370DB; } 	.background_MediumPurple { background-color: #9370DB; } 	.border_MediumPurple { border-color: #9370DB; } 
.text_BlueViolet { color: #8A2BE2; } 	.background_BlueViolet { background-color: #8A2BE2; } 	.border_BlueViolet { border-color: #8A2BE2; } 
.text_DarkViolet { color: #9400D3; } 	.background_DarkViolet { background-color: #9400D3; } 	.border_DarkViolet { border-color: #9400D3; } 
.text_DarkOrchid { color: #9932CC; } 	.background_DarkOrchid { background-color: #9932CC; } 	.border_DarkOrchid { border-color: #9932CC; } 
.text_DarkMagenta { color: #8B008B; } 	.background_DarkMagenta { background-color: #8B008B; } 	.border_DarkMagenta { border-color: #8B008B; } 
.text_Purple { color: #800080; } 	.background_Purple { background-color: #800080; } 	.border_Purple { border-color: #800080; } 
.text_Indigo { color: #4B0082; } 	.background_Indigo { background-color: #4B0082; } 	.border_Indigo { border-color: #4B0082; } 
.text_DarkSlateBlue { color: #483D8B; } 	.background_DarkSlateBlue { background-color: #483D8B; } 	.border_DarkSlateBlue { border-color: #483D8B; } 
.text_SlateBlue { color: #6A5ACD; } 	.background_SlateBlue { background-color: #6A5ACD; } 	.border_SlateBlue { border-color: #6A5ACD; } 
.text_MediumSlateBlue { color: #7B68EE; } 	.background_MediumSlateBlue { background-color: #7B68EE; } 	.border_MediumSlateBlue { border-color: #7B68EE; } 
		
.text_White { color: #FFFFFF; } 	.background_White { background-color: #FFFFFF; } 	.border_White { border-color: #FFFFFF; } 
.text_Snow { color: #FFFAFA; } 	.background_Snow { background-color: #FFFAFA; } 	.border_Snow { border-color: #FFFAFA; } 
.text_Honeydew { color: #F0FFF0; } 	.background_Honeydew { background-color: #F0FFF0; } 	.border_Honeydew { border-color: #F0FFF0; } 
.text_MintCream { color: #F5FFFA; } 	.background_MintCream { background-color: #F5FFFA; } 	.border_MintCream { border-color: #F5FFFA; } 
.text_Azure { color: #F0FFFF; } 	.background_Azure { background-color: #F0FFFF; } 	.border_Azure { border-color: #F0FFFF; } 
.text_AliceBlue { color: #F0F8FF; } 	.background_AliceBlue { background-color: #F0F8FF; } 	.border_AliceBlue { border-color: #F0F8FF; } 
.text_GhostWhite { color: #F8F8FF; } 	.background_GhostWhite { background-color: #F8F8FF; } 	.border_GhostWhite { border-color: #F8F8FF; } 
.text_WhiteSmoke { color: #F5F5F5; } 	.background_WhiteSmoke { background-color: #F5F5F5; } 	.border_WhiteSmoke { border-color: #F5F5F5; } 
.text_Seashell { color: #FFF5EE; } 	.background_Seashell { background-color: #FFF5EE; } 	.border_Seashell { border-color: #FFF5EE; } 
.text_Beige { color: #F5F5DC; } 	.background_Beige { background-color: #F5F5DC; } 	.border_Beige { border-color: #F5F5DC; } 
.text_OldLace { color: #FDF5E6; } 	.background_OldLace { background-color: #FDF5E6; } 	.border_OldLace { border-color: #FDF5E6; } 
.text_FloralWhite { color: #FFFAF0; } 	.background_FloralWhite { background-color: #FFFAF0; } 	.border_FloralWhite { border-color: #FFFAF0; } 
.text_Ivory { color: #FFFFF0; } 	.background_Ivory { background-color: #FFFFF0; } 	.border_Ivory { border-color: #FFFFF0; } 
.text_AntiqueWhite { color: #FAEBD7; } 	.background_AntiqueWhite { background-color: #FAEBD7; } 	.border_AntiqueWhite { border-color: #FAEBD7; } 
.text_Linen { color: #FAF0E6; } 	.background_Linen { background-color: #FAF0E6; } 	.border_Linen { border-color: #FAF0E6; } 
.text_LavenderBlush { color: #FFF0F5; } 	.background_LavenderBlush { background-color: #FFF0F5; } 	.border_LavenderBlush { border-color: #FFF0F5; } 
.text_MistyRose { color: #FFE4E1; } 	.background_MistyRose { background-color: #FFE4E1; } 	.border_MistyRose { border-color: #FFE4E1; } 
		
.text_Gainsboro { color: #DCDCDC; } 	.background_Gainsboro { background-color: #DCDCDC; } 	.border_Gainsboro { border-color: #DCDCDC; } 
.text_LightGray { color: #D3D3D3; } 	.background_LightGray { background-color: #D3D3D3; } 	.border_LightGray { border-color: #D3D3D3; } 
.text_Silver { color: #C0C0C0; } 	.background_Silver { background-color: #C0C0C0; } 	.border_Silver { border-color: #C0C0C0; } 
.text_DarkGray { color: #A9A9A9; } 	.background_DarkGray { background-color: #A9A9A9; } 	.border_DarkGray { border-color: #A9A9A9; } 
.text_Gray { color: #808080; } 	.background_Gray { background-color: #808080; } 	.border_Gray { border-color: #808080; } 
.text_DimGray { color: #696969; } 	.background_DimGray { background-color: #696969; } 	.border_DimGray { border-color: #696969; } 
.text_LightSlateGray { color: #778899; } 	.background_LightSlateGray { background-color: #778899; } 	.border_LightSlateGray { border-color: #778899; } 
.text_SlateGray { color: #708090; } 	.background_SlateGray { background-color: #708090; } 	.border_SlateGray { border-color: #708090; } 
.text_DarkSlateGray { color: #2F4F4F; } 	.background_DarkSlateGray { background-color: #2F4F4F; } 	.border_DarkSlateGray { border-color: #2F4F4F; } 
.text_Black { color: #000000; } 	.background_Black { background-color: #000000; } 	.border_Black { border-color: #000000; } 
.text_default{ color:#333;}
/* Define Colors - End*/




/* define gradient */
.gradient_fill1{
	background: rgba(82,161,18,1);
	background: -moz-linear-gradient(45deg, rgba(82,161,18,1) 0%, rgba(137,235,26,1) 21%, rgba(197,255,36,1) 35%, rgba(226,237,99,1) 63%, rgba(230,206,86,1) 68%, rgba(255,9,0,1) 100%);
	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(82,161,18,1)), color-stop(21%, rgba(137,235,26,1)), color-stop(35%, rgba(197,255,36,1)), color-stop(63%, rgba(226,237,99,1)), color-stop(68%, rgba(230,206,86,1)), color-stop(100%, rgba(255,9,0,1)));
	background: -webkit-linear-gradient(45deg, rgba(82,161,18,1) 0%, rgba(137,235,26,1) 21%, rgba(197,255,36,1) 35%, rgba(226,237,99,1) 63%, rgba(230,206,86,1) 68%, rgba(255,9,0,1) 100%);
	background: -o-linear-gradient(45deg, rgba(82,161,18,1) 0%, rgba(137,235,26,1) 21%, rgba(197,255,36,1) 35%, rgba(226,237,99,1) 63%, rgba(230,206,86,1) 68%, rgba(255,9,0,1) 100%);
	background: -ms-linear-gradient(45deg, rgba(82,161,18,1) 0%, rgba(137,235,26,1) 21%, rgba(197,255,36,1) 35%, rgba(226,237,99,1) 63%, rgba(230,206,86,1) 68%, rgba(255,9,0,1) 100%);
	background: linear-gradient(45deg, rgba(82,161,18,1) 0%, rgba(137,235,26,1) 21%, rgba(197,255,36,1) 35%, rgba(226,237,99,1) 63%, rgba(230,206,86,1) 68%, rgba(255,9,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#52a112', endColorstr='#ff0900', GradientType=1 );
}
.gradient_fill2{
	background: #ff5db1;
	background: -moz-linear-gradient(left, #ff5db1 0%, #ef017c 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, #ff5db1), color-stop(100%, #ef017c));
	background: -webkit-linear-gradient(left, #ff5db1 0%, #ef017c 100%);
	background: -o-linear-gradient(left, #ff5db1 0%, #ef017c 100%);
	background: -ms-linear-gradient(left, #ff5db1 0%, #ef017c 100%);
	background: linear-gradient(to right, #ff5db1 0%, #ef017c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5db1', endColorstr='#ef017c', GradientType=1 );
}
.gradient_fill3{
	background: #fceabb;
	background: -moz-linear-gradient(left, #fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, #fceabb), color-stop(50%, #fccd4d), color-stop(51%, #f8b500), color-stop(100%, #fbdf93));
	background: -webkit-linear-gradient(left, #fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%);
	background: -o-linear-gradient(left, #fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%);
	background: -ms-linear-gradient(left, #fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%);
	background: linear-gradient(to right, #fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93', GradientType=1 );
}
.gradient_fill4{
	background: #efc5ca;
	background: -moz-linear-gradient(left, #efc5ca 0%, #d24b5a 50%, #ba2737 51%, #f18e99 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, #efc5ca), color-stop(50%, #d24b5a), color-stop(51%, #ba2737), color-stop(100%, #f18e99));
	background: -webkit-linear-gradient(left, #efc5ca 0%, #d24b5a 50%, #ba2737 51%, #f18e99 100%);
	background: -o-linear-gradient(left, #efc5ca 0%, #d24b5a 50%, #ba2737 51%, #f18e99 100%);
	background: -ms-linear-gradient(left, #efc5ca 0%, #d24b5a 50%, #ba2737 51%, #f18e99 100%);
	background: linear-gradient(to right, #efc5ca 0%, #d24b5a 50%, #ba2737 51%, #f18e99 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efc5ca', endColorstr='#f18e99', GradientType=1 );
}
.gradient_fill5{
	background: #ffaf4b;
	background: -moz-linear-gradient(left, #ffaf4b 0%, #ff920a 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, #ffaf4b), color-stop(100%, #ff920a));
	background: -webkit-linear-gradient(left, #ffaf4b 0%, #ff920a 100%);
	background: -o-linear-gradient(left, #ffaf4b 0%, #ff920a 100%);
	background: -ms-linear-gradient(left, #ffaf4b 0%, #ff920a 100%);
	background: linear-gradient(to right, #ffaf4b 0%, #ff920a 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a', GradientType=1 );
}
.gradient_fill6{
	background: #d2ff52;
	background: -moz-linear-gradient(left, #d2ff52 0%, #91e842 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, #d2ff52), color-stop(100%, #91e842));
	background: -webkit-linear-gradient(left, #d2ff52 0%, #91e842 100%);
	background: -o-linear-gradient(left, #d2ff52 0%, #91e842 100%);
	background: -ms-linear-gradient(left, #d2ff52 0%, #91e842 100%);
	background: linear-gradient(to right, #d2ff52 0%, #91e842 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#91e842', GradientType=1 );
}
.gradient_fill7{
	background: #e2e2e2;
	background: -moz-linear-gradient(left, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, #e2e2e2), color-stop(50%, #dbdbdb), color-stop(51%, #d1d1d1), color-stop(100%, #fefefe));
	background: -webkit-linear-gradient(left, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
	background: -o-linear-gradient(left, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
	background: -ms-linear-gradient(left, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
	background: linear-gradient(to right, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=1 );
}
.gradient_fill8{
	background: #f2f6f8;
	background: -moz-linear-gradient(left, #f2f6f8 0%, #d8e1e7 50%, #b5c6d0 51%, #e0eff9 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, #f2f6f8), color-stop(50%, #d8e1e7), color-stop(51%, #b5c6d0), color-stop(100%, #e0eff9));
	background: -webkit-linear-gradient(left, #f2f6f8 0%, #d8e1e7 50%, #b5c6d0 51%, #e0eff9 100%);
	background: -o-linear-gradient(left, #f2f6f8 0%, #d8e1e7 50%, #b5c6d0 51%, #e0eff9 100%);
	background: -ms-linear-gradient(left, #f2f6f8 0%, #d8e1e7 50%, #b5c6d0 51%, #e0eff9 100%);
	background: linear-gradient(to right, #f2f6f8 0%, #d8e1e7 50%, #b5c6d0 51%, #e0eff9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9', GradientType=1 );
}
.gradient_fill9{
	background: #f3e2c7;
	background: -moz-linear-gradient(left, #f3e2c7 0%, #c19e67 50%, #b68d4c 51%, #e9d4b3 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, #f3e2c7), color-stop(50%, #c19e67), color-stop(51%, #b68d4c), color-stop(100%, #e9d4b3));
	background: -webkit-linear-gradient(left, #f3e2c7 0%, #c19e67 50%, #b68d4c 51%, #e9d4b3 100%);
	background: -o-linear-gradient(left, #f3e2c7 0%, #c19e67 50%, #b68d4c 51%, #e9d4b3 100%);
	background: -ms-linear-gradient(left, #f3e2c7 0%, #c19e67 50%, #b68d4c 51%, #e9d4b3 100%);
	background: linear-gradient(to right, #f3e2c7 0%, #c19e67 50%, #b68d4c 51%, #e9d4b3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3e2c7', endColorstr='#e9d4b3', GradientType=1 );
}
.gradient_fill10{
	background: #d4e4ef;
	background: -moz-linear-gradient(left, #d4e4ef 0%, #86aecc 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, #d4e4ef), color-stop(100%, #86aecc));
	background: -webkit-linear-gradient(left, #d4e4ef 0%, #86aecc 100%);
	background: -o-linear-gradient(left, #d4e4ef 0%, #86aecc 100%);
	background: -ms-linear-gradient(left, #d4e4ef 0%, #86aecc 100%);
	background: linear-gradient(to right, #d4e4ef 0%, #86aecc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#86aecc', GradientType=1 );
}
.gradient_fill11{
	background: #a4b357;
	background: -moz-linear-gradient(left, #a4b357 0%, #75890c 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, #a4b357), color-stop(100%, #75890c));
	background: -webkit-linear-gradient(left, #a4b357 0%, #75890c 100%);
	background: -o-linear-gradient(left, #a4b357 0%, #75890c 100%);
	background: -ms-linear-gradient(left, #a4b357 0%, #75890c 100%);
	background: linear-gradient(to right, #a4b357 0%, #75890c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4b357', endColorstr='#75890c', GradientType=1 );
}
.gradient_fill12{
	background: #627d4d;
	background: -moz-linear-gradient(left, #627d4d 0%, #1f3b08 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, #627d4d), color-stop(100%, #1f3b08));
	background: -webkit-linear-gradient(left, #627d4d 0%, #1f3b08 100%);
	background: -o-linear-gradient(left, #627d4d 0%, #1f3b08 100%);
	background: -ms-linear-gradient(left, #627d4d 0%, #1f3b08 100%);
	background: linear-gradient(to right, #627d4d 0%, #1f3b08 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#627d4d', endColorstr='#1f3b08', GradientType=1 );
}
.gradient_fill13{
	background: #fcecfc;
	background: -moz-linear-gradient(left, #fcecfc 0%, #fba6e1 50%, #fd89d7 51%, #ff7cd8 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, #fcecfc), color-stop(50%, #fba6e1), color-stop(51%, #fd89d7), color-stop(100%, #ff7cd8));
	background: -webkit-linear-gradient(left, #fcecfc 0%, #fba6e1 50%, #fd89d7 51%, #ff7cd8 100%);
	background: -o-linear-gradient(left, #fcecfc 0%, #fba6e1 50%, #fd89d7 51%, #ff7cd8 100%);
	background: -ms-linear-gradient(left, #fcecfc 0%, #fba6e1 50%, #fd89d7 51%, #ff7cd8 100%);
	background: linear-gradient(to right, #fcecfc 0%, #fba6e1 50%, #fd89d7 51%, #ff7cd8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcecfc', endColorstr='#ff7cd8', GradientType=1 );
}
.gradient_fill14{
	background: #cb60b3;
	background: -moz-linear-gradient(left, #cb60b3 0%, #c146a1 50%, #a80077 51%, #db36a4 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, #cb60b3), color-stop(50%, #c146a1), color-stop(51%, #a80077), color-stop(100%, #db36a4));
	background: -webkit-linear-gradient(left, #cb60b3 0%, #c146a1 50%, #a80077 51%, #db36a4 100%);
	background: -o-linear-gradient(left, #cb60b3 0%, #c146a1 50%, #a80077 51%, #db36a4 100%);
	background: -ms-linear-gradient(left, #cb60b3 0%, #c146a1 50%, #a80077 51%, #db36a4 100%);
	background: linear-gradient(to right, #cb60b3 0%, #c146a1 50%, #a80077 51%, #db36a4 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb60b3', endColorstr='#db36a4', GradientType=1 );
}
.gradient_fill15{
	background: #f1e767;
	background: -moz-linear-gradient(left, #f1e767 0%, #feb645 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, #f1e767), color-stop(100%, #feb645));
	background: -webkit-linear-gradient(left, #f1e767 0%, #feb645 100%);
	background: -o-linear-gradient(left, #f1e767 0%, #feb645 100%);
	background: -ms-linear-gradient(left, #f1e767 0%, #feb645 100%);
	background: linear-gradient(to right, #f1e767 0%, #feb645 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#feb645', GradientType=1 );
}
.gradient_fill16{
	background: #499bea;
	background: -moz-linear-gradient(left, #499bea 0%, #207ce5 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, #499bea), color-stop(100%, #207ce5));
	background: -webkit-linear-gradient(left, #499bea 0%, #207ce5 100%);
	background: -o-linear-gradient(left, #499bea 0%, #207ce5 100%);
	background: -ms-linear-gradient(left, #499bea 0%, #207ce5 100%);
	background: linear-gradient(to right, #499bea 0%, #207ce5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5', GradientType=1 );
}
.gradient_fill17{
	background: #ffffff;
	background: -moz-linear-gradient(left, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, #ffffff), color-stop(47%, #f6f6f6), color-stop(100%, #ededed));
	background: -webkit-linear-gradient(left, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
	background: -o-linear-gradient(left, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
	background: -ms-linear-gradient(left, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
	background: linear-gradient(to right, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );
}
.gradient_fill18{
	background: #93cede;
	background: -moz-linear-gradient(left, #93cede 0%, #75bdd1 41%, #49a5bf 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, #93cede), color-stop(41%, #75bdd1), color-stop(100%, #49a5bf));
	background: -webkit-linear-gradient(left, #93cede 0%, #75bdd1 41%, #49a5bf 100%);
	background: -o-linear-gradient(left, #93cede 0%, #75bdd1 41%, #49a5bf 100%);
	background: -ms-linear-gradient(left, #93cede 0%, #75bdd1 41%, #49a5bf 100%);
	background: linear-gradient(to right, #93cede 0%, #75bdd1 41%, #49a5bf 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#49a5bf', GradientType=1 );
}
.gradient_fill19{
	background: #f85032;
	background: -moz-linear-gradient(left, #f85032 0%, #f16f5c 50%, #f6290c 51%, #f02f17 71%, #e73827 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, #f85032), color-stop(50%, #f16f5c), color-stop(51%, #f6290c), color-stop(71%, #f02f17), color-stop(100%, #e73827));
	background: -webkit-linear-gradient(left, #f85032 0%, #f16f5c 50%, #f6290c 51%, #f02f17 71%, #e73827 100%);
	background: -o-linear-gradient(left, #f85032 0%, #f16f5c 50%, #f6290c 51%, #f02f17 71%, #e73827 100%);
	background: -ms-linear-gradient(left, #f85032 0%, #f16f5c 50%, #f6290c 51%, #f02f17 71%, #e73827 100%);
	background: linear-gradient(to right, #f85032 0%, #f16f5c 50%, #f6290c 51%, #f02f17 71%, #e73827 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827', GradientType=1 );
}
.gradient_fill20{
	background: #4c4c4c;
	background: -moz-linear-gradient(left, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, #4c4c4c), color-stop(12%, #595959), color-stop(25%, #666666), color-stop(39%, #474747), color-stop(50%, #2c2c2c), color-stop(51%, #000000), color-stop(60%, #111111), color-stop(76%, #2b2b2b), color-stop(91%, #1c1c1c), color-stop(100%, #131313));
	background: -webkit-linear-gradient(left, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%);
	background: -o-linear-gradient(left, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%);
	background: -ms-linear-gradient(left, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%);
	background: linear-gradient(to right, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=1 );
}
.gradient_fill21{
	background: #b3dced;
	background: -moz-linear-gradient(left, #b3dced 0%, #29b8e5 50%, #bce0ee 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, #b3dced), color-stop(50%, #29b8e5), color-stop(100%, #bce0ee));
	background: -webkit-linear-gradient(left, #b3dced 0%, #29b8e5 50%, #bce0ee 100%);
	background: -o-linear-gradient(left, #b3dced 0%, #29b8e5 50%, #bce0ee 100%);
	background: -ms-linear-gradient(left, #b3dced 0%, #29b8e5 50%, #bce0ee 100%);
	background: linear-gradient(to right, #b3dced 0%, #29b8e5 50%, #bce0ee 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#bce0ee', GradientType=1 );
}
.gradient_fill22{
	background: #a90329;
	background: -moz-linear-gradient(left, #a90329 0%, #8f0222 44%, #6d0019 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, #a90329), color-stop(44%, #8f0222), color-stop(100%, #6d0019));
	background: -webkit-linear-gradient(left, #a90329 0%, #8f0222 44%, #6d0019 100%);
	background: -o-linear-gradient(left, #a90329 0%, #8f0222 44%, #6d0019 100%);
	background: -ms-linear-gradient(left, #a90329 0%, #8f0222 44%, #6d0019 100%);
	background: linear-gradient(to right, #a90329 0%, #8f0222 44%, #6d0019 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019', GradientType=1 );
}
.gradient_fill23{
	background: #ff0084;
	background: -moz-linear-gradient(left, #ff0084 0%, #ff0084 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, #ff0084), color-stop(100%, #ff0084));
	background: -webkit-linear-gradient(left, #ff0084 0%, #ff0084 100%);
	background: -o-linear-gradient(left, #ff0084 0%, #ff0084 100%);
	background: -ms-linear-gradient(left, #ff0084 0%, #ff0084 100%);
	background: linear-gradient(to right, #ff0084 0%, #ff0084 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0084', endColorstr='#ff0084', GradientType=1 );
}
.gradient_fill24{
	background: #ebe9f9;
	background: -moz-linear-gradient(left, #ebe9f9 0%, #d8d0ef 50%, #cec7ec 51%, #c1bfea 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, #ebe9f9), color-stop(50%, #d8d0ef), color-stop(51%, #cec7ec), color-stop(100%, #c1bfea));
	background: -webkit-linear-gradient(left, #ebe9f9 0%, #d8d0ef 50%, #cec7ec 51%, #c1bfea 100%);
	background: -o-linear-gradient(left, #ebe9f9 0%, #d8d0ef 50%, #cec7ec 51%, #c1bfea 100%);
	background: -ms-linear-gradient(left, #ebe9f9 0%, #d8d0ef 50%, #cec7ec 51%, #c1bfea 100%);
	background: linear-gradient(to right, #ebe9f9 0%, #d8d0ef 50%, #cec7ec 51%, #c1bfea 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebe9f9', endColorstr='#c1bfea', GradientType=1 );
}
.gradient_fill25{
	background: #b7deed;
	background: -moz-linear-gradient(left, #b7deed 0%, #71ceef 50%, #21b4e2 51%, #b7deed 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, #b7deed), color-stop(50%, #71ceef), color-stop(51%, #21b4e2), color-stop(100%, #b7deed));
	background: -webkit-linear-gradient(left, #b7deed 0%, #71ceef 50%, #21b4e2 51%, #b7deed 100%);
	background: -o-linear-gradient(left, #b7deed 0%, #71ceef 50%, #21b4e2 51%, #b7deed 100%);
	background: -ms-linear-gradient(left, #b7deed 0%, #71ceef 50%, #21b4e2 51%, #b7deed 100%);
	background: linear-gradient(to right, #b7deed 0%, #71ceef 50%, #21b4e2 51%, #b7deed 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7deed', endColorstr='#b7deed', GradientType=1 );
}






/* Define Colors - End*/