.list_btn {
    margin-top: 10px;
    margin-bottom: 15px;
}
.list_btn > div{
    margin-bottom: 5px;
}
.list_btn .btn-fw {
    min-width: 5.2rem;
}
#fileToLoad{
    margin-bottom: 5px;
}
.list_of_item {
    border: 1px solid #ddd;
    padding: 10px;
}
.list_of_item h4{
    font-weight: 600;
    font-size: 17px;
    color: #333;
}
#list_of_value{
    width: 50%;
    min-height: 230px;
    
    padding: 10px;
    list-style: none;
    margin: 0px;
}
#list_of_value.active{
    width: 100%;
    column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}
#list_of_value li{
    font-size: 14px;
    padding: 9px 15px 9px 60px;
    background: #3e68f0;
    margin-bottom: 3px;
    color: #fff;
    text-transform: capitalize;
    cursor: pointer;
    position: relative;
}
#list_of_value li p{
    margin-bottom: 0px;
    font-size: 15px;
}
#list_of_value li span{
    position: absolute;
    height: 100%;
    width: 45px;
    background: #888;
    color: #fff;
    left: 0px;
    top: 0px;
    text-align: center;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 3px solid #fff;
    color: #fff;
}
#list_of_value li:hover,#list_of_value li.active{
    background: #22b66e;
}
.itemSave{
    margin-top: 5px;
}
.error{
    font-size: 13px;
    color: red;
    margin-bottom: 0px;
    display: none;
}
.perview{
    margin-top: 20px;
}
#btn-Convert-Html2Image{
    display: none;
    margin-top: 10px;
    width: 7em;
}
#btn-Convert-Html2Image.active{
    display: block;
}
.save_upload.modal .modal-header {
    padding: 0px 15px 10px 15px;
    border-bottom: 1px solid #eee;
}
.save_upload.modal .modal-title {
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 18px;
    font-weight: 600;
}
.save_upload.modal .modal-header .close {
    padding: 5px;
    top: 0%;
    cursor: pointer;
}
.save_upload.modal .modal-body {
    padding: 15px;
}
.save_file,.load_file{
    display: none;
}