<link href="scripts/style_b/css/treelayout.css" rel="stylesheet" type="text/css" />
<div class="control">
    <ul class="control_tab">
        <li id="tab_1" class="active">
            <a href="javascript:void(0)">Details</a>
        </li>
        <li id="tab_2">
            <a href="javascript:void(0)">Exceptions</a>
        </li>
        <li id="tab_3">
            <a href="javascript:void(0)">Approval</a>
        </li>
        <li id="tab_4">
            <a href="javascript:void(0)">Related items</a>
        </li>
        <li id="tab_5">
            <a href="javascript:void(0)">Access</a>
        </li>
        <li id="tab_6">
            <a href="javascript:void(0)">Change log</a>
        </li>
    </ul>
</div>
<div class="control_link">
    <ul>
        <li><a href="#">Edit</a></li>
        <li><a href="#">Respond</a></li>
        <li>
            <a href="#">Retire</a>
            <div class="version_drop">
                <a href="#"><i class="fa fa-file"></i> Version 1</a>
                <a href="#"><i class="fa fa-file"></i> Version 2</a>
                <a href="#"><i class="fa fa-file"></i> Version 3</a>
            </div>
        </li>
    </ul>
</div>
<div class="log_outer">
    <div class="layout_body">

        <div class="tab_1 tab_list">
            <div class="layout_title">
                <h5>Pricing Policy(V1)</h5>
                <p>Pricing Policy - version 1 - in Use</p>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Type</h6>
                        <p>policy</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>State</h6>
                        <p>In Use</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Last Review Date</h6>
                        <p>1/7/2016</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Next Review Date</h6>
                        <p>1/6/2017</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Workflow Type</h6>
                        <p><a href="#">Business Approval</a></p>
                    </div>
                </div>
            </div>
            <div class="layout_sub_title">
                <h3>uploaded File</h3>
                <div class="responsive-table">
                    <table class="table table-bordered simple_table tree_tabel">
                        <thead>
                            <tr>
                                <th width="40%">
                                    File Name
                                </th>
                                <th width="40%">
                                    Last Update Date
                                </th>
                                <th width="20%">
                                    Certification
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="layout_sub_title">
                                        <p><i class="fa fa-file-pdf-o"></i> <a href="#">Baldwin Pricing Policy.pdf</a></p>
                                    </div>
                                </td>
                                <td>
                                    <div class="layout_sub_title">
                                        <p>1/7/2016 1:16 PM</p>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <div class="layout_sub_title">
                                        <div class="pretty p-default p-square">
                                            <input type="checkbox" />
                                            <div class="state p-primary">
                                                <label>&nbsp;</label>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="layout_sub_title">
                                        <p><i class="fa fa-file-pdf-o"></i> <a href="#">Baldwin Pricing Policy.pdf</a></p>
                                    </div>
                                </td>
                                <td>
                                    <div class="layout_sub_title">
                                        <p>1/7/2016 1:16 PM</p>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <div class="layout_sub_title">
                                        <div class="pretty p-default p-square">
                                            <input type="checkbox" />
                                            <div class="state p-primary">
                                                <label>&nbsp;</label>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="layout_sub_title">
                <h6>Change in this version</h6>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
            <div class="layout_sub_title">
                <h6>Summary Description</h6>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="layout_sub_title">
                        <h3>Stakeholders</h3>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Owner(s)</h6>
                        <p><a href="#">Charlie Romer</a></p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Reviewer(s)</h6>
                        <p><a href="#">Ann Lamarr</a></p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Owner(s)</h6>
                        <p><a href="#">Charlie Romer</a></p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Reviewer(s)</h6>
                        <p><a href="#">Ann Lamarr</a></p>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="layout_sub_title">
                        <h3>Policy Information</h3>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Policy Number</h6>
                        <p>100-001</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Effective Date</h6>
                        <p>1/1/2016</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab_2 tab_list">
            <div class="layout_title">
                <h5>Pricing Policy(V2)</h5>
                <p>Pricing Policy - version 2 - in Use</p>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Type</h6>
                        <p>policy</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>State</h6>
                        <p>In Use</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Last Review Date</h6>
                        <p>1/7/2016</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Next Review Date</h6>
                        <p>1/6/2017</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Workflow Type</h6>
                        <p><a href="#">Business Approval</a></p>
                    </div>
                </div>
            </div>
            <div class="layout_sub_title">
                <h3>uploaded File</h3>
                <div class="responsive-table">
                    <table class="table table-bordered simple_table tree_tabel">
                        <thead>
                            <tr>
                                <th width="40%">
                                    File Name
                                </th>
                                <th width="40%">
                                    Last Update Date
                                </th>
                                <th width="20%">
                                    Certification
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="layout_sub_title">
                                        <p><i class="fa fa-file-pdf-o"></i> <a href="#">Baldwin Pricing Policy.pdf</a></p>
                                    </div>
                                </td>
                                <td>
                                    <div class="layout_sub_title">
                                        <p>1/7/2016 1:16 PM</p>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <div class="layout_sub_title">
                                        <div class="pretty p-default p-square">
                                            <input type="checkbox" />
                                            <div class="state p-primary">
                                                <label>&nbsp;</label>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="layout_sub_title">
                                        <p><i class="fa fa-file-pdf-o"></i> <a href="#">Baldwin Pricing Policy.pdf</a></p>
                                    </div>
                                </td>
                                <td>
                                    <div class="layout_sub_title">
                                        <p>1/7/2016 1:16 PM</p>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <div class="layout_sub_title">
                                        <div class="pretty p-default p-square">
                                            <input type="checkbox" />
                                            <div class="state p-primary">
                                                <label>&nbsp;</label>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="layout_sub_title">
                <h6>Change in this version</h6>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
            <div class="layout_sub_title">
                <h6>Summary Description</h6>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="layout_sub_title">
                        <h3>Stakeholders</h3>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Owner(s)</h6>
                        <p><a href="#">Charlie Romer</a></p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Reviewer(s)</h6>
                        <p><a href="#">Ann Lamarr</a></p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Owner(s)</h6>
                        <p><a href="#">Charlie Romer</a></p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Reviewer(s)</h6>
                        <p><a href="#">Ann Lamarr</a></p>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="layout_sub_title">
                        <h3>Policy Information</h3>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Policy Number</h6>
                        <p>100-001</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Effective Date</h6>
                        <p>1/1/2016</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab_3 tab_list">
            <div class="layout_title">
                <h5>Pricing Policy(V3)</h5>
                <p>Pricing Policy - version 3 - in Use</p>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Type</h6>
                        <p>policy</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>State</h6>
                        <p>In Use</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Last Review Date</h6>
                        <p>1/7/2016</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Next Review Date</h6>
                        <p>1/6/2017</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Workflow Type</h6>
                        <p><a href="#">Business Approval</a></p>
                    </div>
                </div>
            </div>
            <div class="layout_sub_title">
                <h3>uploaded File</h3>
                <div class="responsive-table">
                    <table class="table table-bordered simple_table tree_tabel">
                        <thead>
                            <tr>
                                <th width="40%">
                                    File Name
                                </th>
                                <th width="40%">
                                    Last Update Date
                                </th>
                                <th width="20%">
                                    Certification
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="layout_sub_title">
                                        <p><i class="fa fa-file-pdf-o"></i> <a href="#">Baldwin Pricing Policy.pdf</a></p>
                                    </div>
                                </td>
                                <td>
                                    <div class="layout_sub_title">
                                        <p>1/7/2016 1:16 PM</p>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <div class="layout_sub_title">
                                        <div class="pretty p-default p-square">
                                            <input type="checkbox" />
                                            <div class="state p-primary">
                                                <label>&nbsp;</label>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="layout_sub_title">
                                        <p><i class="fa fa-file-pdf-o"></i> <a href="#">Baldwin Pricing Policy.pdf</a></p>
                                    </div>
                                </td>
                                <td>
                                    <div class="layout_sub_title">
                                        <p>1/7/2016 1:16 PM</p>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <div class="layout_sub_title">
                                        <div class="pretty p-default p-square">
                                            <input type="checkbox" />
                                            <div class="state p-primary">
                                                <label>&nbsp;</label>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="layout_sub_title">
                <h6>Change in this version</h6>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
            <div class="layout_sub_title">
                <h6>Summary Description</h6>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="layout_sub_title">
                        <h3>Stakeholders</h3>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Owner(s)</h6>
                        <p><a href="#">Charlie Romer</a></p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Reviewer(s)</h6>
                        <p><a href="#">Ann Lamarr</a></p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Owner(s)</h6>
                        <p><a href="#">Charlie Romer</a></p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Reviewer(s)</h6>
                        <p><a href="#">Ann Lamarr</a></p>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="layout_sub_title">
                        <h3>Policy Information</h3>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Policy Number</h6>
                        <p>100-001</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Effective Date</h6>
                        <p>1/1/2016</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab_4 tab_list">
            <div class="layout_title">
                <h5>Pricing Policy(V4)</h5>
                <p>Pricing Policy - version 4 - in Use</p>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Type</h6>
                        <p>policy</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>State</h6>
                        <p>In Use</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Last Review Date</h6>
                        <p>1/7/2016</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Next Review Date</h6>
                        <p>1/6/2017</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Workflow Type</h6>
                        <p><a href="#">Business Approval</a></p>
                    </div>
                </div>
            </div>
            <div class="layout_sub_title">
                <h3>uploaded File</h3>
                <div class="responsive-table">
                    <table class="table table-bordered simple_table tree_tabel">
                        <thead>
                            <tr>
                                <th width="40%">
                                    File Name
                                </th>
                                <th width="40%">
                                    Last Update Date
                                </th>
                                <th width="20%">
                                    Certification
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="layout_sub_title">
                                        <p><i class="fa fa-file-pdf-o"></i> <a href="#">Baldwin Pricing Policy.pdf</a></p>
                                    </div>
                                </td>
                                <td>
                                    <div class="layout_sub_title">
                                        <p>1/7/2016 1:16 PM</p>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <div class="layout_sub_title">
                                        <div class="pretty p-default p-square">
                                            <input type="checkbox" />
                                            <div class="state p-primary">
                                                <label>&nbsp;</label>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="layout_sub_title">
                                        <p><i class="fa fa-file-pdf-o"></i> <a href="#">Baldwin Pricing Policy.pdf</a></p>
                                    </div>
                                </td>
                                <td>
                                    <div class="layout_sub_title">
                                        <p>1/7/2016 1:16 PM</p>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <div class="layout_sub_title">
                                        <div class="pretty p-default p-square">
                                            <input type="checkbox" />
                                            <div class="state p-primary">
                                                <label>&nbsp;</label>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="layout_sub_title">
                <h6>Change in this version</h6>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
            <div class="layout_sub_title">
                <h6>Summary Description</h6>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="layout_sub_title">
                        <h3>Stakeholders</h3>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Owner(s)</h6>
                        <p><a href="#">Charlie Romer</a></p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Reviewer(s)</h6>
                        <p><a href="#">Ann Lamarr</a></p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Owner(s)</h6>
                        <p><a href="#">Charlie Romer</a></p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Reviewer(s)</h6>
                        <p><a href="#">Ann Lamarr</a></p>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="layout_sub_title">
                        <h3>Policy Information</h3>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Policy Number</h6>
                        <p>100-001</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Effective Date</h6>
                        <p>1/1/2016</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab_5 tab_list">
            <div class="layout_title">
                <h5>Pricing Policy(V5)</h5>
                <p>Pricing Policy - version 5 - in Use</p>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Type</h6>
                        <p>policy</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>State</h6>
                        <p>In Use</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Last Review Date</h6>
                        <p>1/7/2016</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Next Review Date</h6>
                        <p>1/6/2017</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Workflow Type</h6>
                        <p><a href="#">Business Approval</a></p>
                    </div>
                </div>
            </div>
            <div class="layout_sub_title">
                <h3>uploaded File</h3>
                <div class="responsive-table">
                    <table class="table table-bordered simple_table tree_tabel">
                        <thead>
                            <tr>
                                <th width="40%">
                                    File Name
                                </th>
                                <th width="40%">
                                    Last Update Date
                                </th>
                                <th width="20%">
                                    Certification
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="layout_sub_title">
                                        <p><i class="fa fa-file-pdf-o"></i> <a href="#">Baldwin Pricing Policy.pdf</a></p>
                                    </div>
                                </td>
                                <td>
                                    <div class="layout_sub_title">
                                        <p>1/7/2016 1:16 PM</p>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <div class="layout_sub_title">
                                        <div class="pretty p-default p-square">
                                            <input type="checkbox" />
                                            <div class="state p-primary">
                                                <label>&nbsp;</label>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="layout_sub_title">
                                        <p><i class="fa fa-file-pdf-o"></i> <a href="#">Baldwin Pricing Policy.pdf</a></p>
                                    </div>
                                </td>
                                <td>
                                    <div class="layout_sub_title">
                                        <p>1/7/2016 1:16 PM</p>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <div class="layout_sub_title">
                                        <div class="pretty p-default p-square">
                                            <input type="checkbox" />
                                            <div class="state p-primary">
                                                <label>&nbsp;</label>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="layout_sub_title">
                <h6>Change in this version</h6>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
            <div class="layout_sub_title">
                <h6>Summary Description</h6>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="layout_sub_title">
                        <h3>Stakeholders</h3>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Owner(s)</h6>
                        <p><a href="#">Charlie Romer</a></p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Reviewer(s)</h6>
                        <p><a href="#">Ann Lamarr</a></p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Owner(s)</h6>
                        <p><a href="#">Charlie Romer</a></p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Reviewer(s)</h6>
                        <p><a href="#">Ann Lamarr</a></p>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="layout_sub_title">
                        <h3>Policy Information</h3>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Policy Number</h6>
                        <p>100-001</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Effective Date</h6>
                        <p>1/1/2016</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab_6 tab_list">
            <div class="layout_title">
                <h5>Pricing Policy(V6)</h5>
                <p>Pricing Policy - version 6 - in Use</p>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Type</h6>
                        <p>policy</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>State</h6>
                        <p>In Use</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Last Review Date</h6>
                        <p>1/7/2016</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Next Review Date</h6>
                        <p>1/6/2017</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Workflow Type</h6>
                        <p><a href="#">Business Approval</a></p>
                    </div>
                </div>
            </div>
            <div class="layout_sub_title">
                <h3>uploaded File</h3>
                <div class="responsive-table">
                    <table class="table table-bordered simple_table tree_tabel">
                        <thead>
                            <tr>
                                <th width="40%">
                                    File Name
                                </th>
                                <th width="40%">
                                    Last Update Date
                                </th>
                                <th width="20%">
                                    Certification
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="layout_sub_title">
                                        <p><i class="fa fa-file-pdf-o"></i> <a href="#">Baldwin Pricing Policy.pdf</a></p>
                                    </div>
                                </td>
                                <td>
                                    <div class="layout_sub_title">
                                        <p>1/7/2016 1:16 PM</p>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <div class="layout_sub_title">
                                        <div class="pretty p-default p-square">
                                            <input type="checkbox" />
                                            <div class="state p-primary">
                                                <label>&nbsp;</label>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="layout_sub_title">
                                        <p><i class="fa fa-file-pdf-o"></i> <a href="#">Baldwin Pricing Policy.pdf</a></p>
                                    </div>
                                </td>
                                <td>
                                    <div class="layout_sub_title">
                                        <p>1/7/2016 1:16 PM</p>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <div class="layout_sub_title">
                                        <div class="pretty p-default p-square">
                                            <input type="checkbox" />
                                            <div class="state p-primary">
                                                <label>&nbsp;</label>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="layout_sub_title">
                <h6>Change in this version</h6>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
            <div class="layout_sub_title">
                <h6>Summary Description</h6>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="layout_sub_title">
                        <h3>Stakeholders</h3>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Owner(s)</h6>
                        <p><a href="#">Charlie Romer</a></p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Reviewer(s)</h6>
                        <p><a href="#">Ann Lamarr</a></p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Owner(s)</h6>
                        <p><a href="#">Charlie Romer</a></p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Reviewer(s)</h6>
                        <p><a href="#">Ann Lamarr</a></p>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="layout_sub_title">
                        <h3>Policy Information</h3>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Policy Number</h6>
                        <p>100-001</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Effective Date</h6>
                        <p>1/1/2016</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>