<link href="scripts/style_b/css/treelayout.css" rel="stylesheet" type="text/css" />
<div class="control">
    <ul class="control_tab">
        <li id="tab_1" class="active">
            <a href="javascript:void(0)">Details</a>
        </li>
        <li id="tab_2">
            <a href="javascript:void(0)">Attachments</a>
        </li>
    </ul>
</div>
<div class="control_link">
    <ul>
        <li><a href="#">Save</a></li>
        <li><a href="#">Cancel</a></li>
    </ul>
</div>
<div class="log_outer">
    <div class="layout_body">
        <div class="tab_1 tab_list">
            <div class="layout_title">
                <h5>Pricing Poclicy Read & Certify - REQUIRED - 1/5/2016</h5>
                <p>Certification Request - Pending</p>
            </div>
            <div class="layout_sub_title">
                <h6>Date</h6>
                <p>1/5/2016</p>
            </div>
            <div class="layout_sub_title">
                <h6>Participant</h6>
                <p>Charlie Period</p>
            </div>
            <div class="layout_sub_title">
                <h6>Certification Period</h6>
                <p>FY - 2016</p>
            </div>
            <div class="layout_sub_title">
                <h6>Due Date</h6>
                <p>2/4/2016</p>
            </div>
            <div class="layout_sub_title">
                <h6>Policies & Procedures</h6>
                <p><i class="fa fa-file-pdf-o"></i> <a href="#">Baldwin Pricing Policy.pdf</a></p>
            </div>
            <div class="layout_sub_title">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
            </div>
            <div class="layout_sub_title">
                <h6>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</h6>
                <div class="form-group tree_radio">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="pretty p-default p-round">
                                <input type="radio" name="radio_group" checked="" />
                                <div class="state p-success-o">
                                    <label>YES</label>
                                </div>
                            </div>
                            <br />
                        </div>
                        <div class="col-md-2">
                            <div class="pretty p-default p-round">
                                <input type="radio" name="radio_group" />
                                <div class="state p-success-o">
                                    <label>NO</label>
                                </div>
                            </div>
                            <br />
                        </div>
                    </div>
                </div>
            </div>
            <div class="layout_sub_title">
                <h6>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</h6>
                <div class="form-group tree_radio">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="pretty p-default p-round">
                                <input type="radio" name="radio_group1" checked="" />
                                <div class="state p-success-o">
                                    <label>YES</label>
                                </div>
                            </div>
                            <br />
                        </div>
                        <div class="col-md-2">
                            <div class="pretty p-default p-round">
                                <input type="radio" name="radio_group1" />
                                <div class="state p-success-o">
                                    <label>NO</label>
                                </div>
                            </div>
                            <br />
                        </div>
                    </div>
                </div>
            </div>
            <div class="layout_sub_title">
                <h6>Guidance</h6>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
            </div>
            <div class="layout_sub_title">
                <h6>Comment</h6>
                <textarea class="form-control tree_text"></textarea>
            </div>
        </div>
        <div class="tab_2 tab_list">
            <div class="layout_title">
                <h5>Pricing Poclicy Read & Certify - REQUIRED - 1/5/2018</h5>
                <p>Certification Request - Pending</p>
            </div>
            <div class="layout_sub_title">
                <h6>Date</h6>
                <p>1/5/2016</p>
            </div>
            <div class="layout_sub_title">
                <h6>Participant</h6>
                <p>Charlie Period</p>
            </div>
            <div class="layout_sub_title">
                <h6>Certification Period</h6>
                <p>FY - 2016</p>
            </div>
            <div class="layout_sub_title">
                <h6>Due Date</h6>
                <p>2/4/2016</p>
            </div>
            <div class="layout_sub_title">
                <h6>Policies & Procedures</h6>
                <p><i class="fa fa-file-pdf-o"></i> <a href="#">Baldwin Pricing Policy.pdf</a></p>
            </div>
            <div class="layout_sub_title">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
            </div>
            <div class="layout_sub_title">
                <h6>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</h6>
                <div class="form-group tree_radio">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="pretty p-default p-round">
                                <input type="radio" name="radio_group" checked="" />
                                <div class="state p-success-o">
                                    <label>YES</label>
                                </div>
                            </div>
                            <br />
                        </div>
                        <div class="col-md-2">
                            <div class="pretty p-default p-round">
                                <input type="radio" name="radio_group" />
                                <div class="state p-success-o">
                                    <label>NO</label>
                                </div>
                            </div>
                            <br />
                        </div>
                    </div>
                </div>
            </div>
            <div class="layout_sub_title">
                <h6>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</h6>
                <div class="form-group tree_radio">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="pretty p-default p-round">
                                <input type="radio" name="radio_group1" checked="" />
                                <div class="state p-success-o">
                                    <label>YES</label>
                                </div>
                            </div>
                            <br />
                        </div>
                        <div class="col-md-2">
                            <div class="pretty p-default p-round">
                                <input type="radio" name="radio_group1" />
                                <div class="state p-success-o">
                                    <label>NO</label>
                                </div>
                            </div>
                            <br />
                        </div>
                    </div>
                </div>
            </div>
            <div class="layout_sub_title">
                <h6>Guidance</h6>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
            </div>
            <div class="layout_sub_title">
                <h6>Comment</h6>
                <textarea class="form-control tree_text"></textarea>
            </div>
        </div>
    </div>
</div>