<link href="scripts/style_b/css/treelayout.css" rel="stylesheet" type="text/css" />
<div class="control">
    <ul class="control_tab">
        <li id="tab_1" class="active">
            <a href="javascript:void(0)">Details</a>
        </li>
        <li id="tab_2">
            <a href="javascript:void(0)">Results template</a>
        </li>
        <li id="tab_3">
            <a href="javascript:void(0)">Approval</a>
        </li>
        <li id="tab_4">
            <a href="javascript:void(0)">Attachments</a>
        </li>
        <li id="tab_5">
            <a href="javascript:void(0)">Related Items</a>
        </li>
    </ul>
</div>
<div class="control_link">
    <ul>
        <li><a href="#">Edit</a></li>
        <li><a href="#">Retire</a></li>
        <li>
            <a href="#">New Version</a>
            <div class="version_drop">
                <a href="#"><i class="fa fa-file"></i> Version 1</a>
                <a href="#"><i class="fa fa-file"></i> Version 2</a>
                <a href="#"><i class="fa fa-file"></i> Version 3</a>
            </div>
        </li>
    </ul>
</div>
<div class="log_outer">
    <div class="layout_body">
        <div class="tab_1 tab_list">
            <div class="layout_title">
                <h5>1.1.1.1 Review information security policy for completeness(V1)</h5>
                <p>Test Procedure - version 1 - in Use</p>
            </div>
            <div class="layout_sub_title">
                <h6>Short Description</h6>
                <p>Review policies and procedures for completeness.</p>
            </div>
            <div class="layout_sub_title">
                <h6>Criteria to pass</h6>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
            <div class="layout_sub_title">
                <h6>Extended Description</h6>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Owner</h6>
                        <p><a href="#">Karen Bell</a></p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Region</h6>
                        <p><i>[Not Set]</i></p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Date Initiated</h6>
                        <p>12/22/2015</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Region</h6>
                        <p><i>[Not Set]</i></p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Date Activated</h6>
                        <p>12/22/2015</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Region</h6>
                        <p><i>[Not Set]</i></p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>State</h6>
                        <p>In Use</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab_2 tab_list">
            <div class="layout_title">
                <h5>1.1.1.1 Review information security policy for completeness(V2)</h5>
                <p>Test Procedure - version 2 - in Use</p>
            </div>
            <div class="layout_sub_title">
                <h6>Short Description</h6>
                <p>Review policies and procedures for completeness.</p>
            </div>
            <div class="layout_sub_title">
                <h6>Criteria to pass</h6>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
            <div class="layout_sub_title">
                <h6>Extended Description</h6>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Owner</h6>
                        <p><a href="#">Karen Bell</a></p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Region</h6>
                        <p><i>[Not Set]</i></p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Date Initiated</h6>
                        <p>12/22/2015</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Region</h6>
                        <p><i>[Not Set]</i></p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Date Activated</h6>
                        <p>12/22/2015</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Region</h6>
                        <p><i>[Not Set]</i></p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>State</h6>
                        <p>In Use</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab_3 tab_list">
            <div class="layout_title">
                <h5>1.1.1.1 Review information security policy for completeness(V3)</h5>
                <p>Test Procedure - version 3 - in Use</p>
            </div>
            <div class="layout_sub_title">
                <h6>Short Description</h6>
                <p>Review policies and procedures for completeness.</p>
            </div>
            <div class="layout_sub_title">
                <h6>Criteria to pass</h6>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
            <div class="layout_sub_title">
                <h6>Extended Description</h6>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Owner</h6>
                        <p><a href="#">Karen Bell</a></p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Region</h6>
                        <p><i>[Not Set]</i></p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Date Initiated</h6>
                        <p>12/22/2015</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Region</h6>
                        <p><i>[Not Set]</i></p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Date Activated</h6>
                        <p>12/22/2015</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Region</h6>
                        <p><i>[Not Set]</i></p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>State</h6>
                        <p>In Use</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab_4 tab_list">
            <div class="layout_title">
                <h5>1.1.1.1 Review information security policy for completeness(V4)</h5>
                <p>Test Procedure - version 4 - in Use</p>
            </div>
            <div class="layout_sub_title">
                <h6>Short Description</h6>
                <p>Review policies and procedures for completeness.</p>
            </div>
            <div class="layout_sub_title">
                <h6>Criteria to pass</h6>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
            <div class="layout_sub_title">
                <h6>Extended Description</h6>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Owner</h6>
                        <p><a href="#">Karen Bell</a></p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Region</h6>
                        <p><i>[Not Set]</i></p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Date Initiated</h6>
                        <p>12/22/2015</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Region</h6>
                        <p><i>[Not Set]</i></p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Date Activated</h6>
                        <p>12/22/2015</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Region</h6>
                        <p><i>[Not Set]</i></p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>State</h6>
                        <p>In Use</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab_5 tab_list">
            <div class="layout_title">
                <h5>1.1.1.1 Review information security policy for completeness(V5)</h5>
                <p>Test Procedure - version 5 - in Use</p>
            </div>
            <div class="layout_sub_title">
                <h6>Short Description</h6>
                <p>Review policies and procedures for completeness.</p>
            </div>
            <div class="layout_sub_title">
                <h6>Criteria to pass</h6>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
            <div class="layout_sub_title">
                <h6>Extended Description</h6>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Owner</h6>
                        <p><a href="#">Karen Bell</a></p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Region</h6>
                        <p><i>[Not Set]</i></p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Date Initiated</h6>
                        <p>12/22/2015</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Region</h6>
                        <p><i>[Not Set]</i></p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Date Activated</h6>
                        <p>12/22/2015</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Region</h6>
                        <p><i>[Not Set]</i></p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>State</h6>
                        <p>In Use</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>