<link href="scripts/style_b/css/treelayout.css" rel="stylesheet" type="text/css" />
<div class="control">
    <ul class="control_tab">
        <li id="tab_1" class="active">
            <a href="javascript:void(0)">Details</a>
        </li>
        <li id="tab_2">
            <a href="javascript:void(0)">Approval</a>
        </li>
        <li id="tab_3">
            <a href="javascript:void(0)">Attachments</a>
        </li>
        <li id="tab_4">
            <a href="javascript:void(0)">Related Items</a>
        </li>
        <li id="tab_5">
            <a href="javascript:void(0)">Change Log</a>
        </li>
    </ul>
</div>
<div class="control_link">
    <ul>
        <li><a href="#">Edit</a></li>
        <li><a href="#">Respond</a></li>
        <li><a href="#">Close</a></li>
        <li>
            <a href="#">Print</a>
            <div class="version_drop">
                <a href="#"><i class="fa fa-file"></i> Version 1</a>
                <a href="#"><i class="fa fa-file"></i> Version 2</a>
                <a href="#"><i class="fa fa-file"></i> Version 3</a>
            </div>
        </li>
    </ul>
</div>
<div class="log_outer">
    <div class="layout_body">

        <div class="tab_1 tab_list">
            <div class="layout_title">
                <h5>Brief Description 1</h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Incident Number</h6>
                        <p>31</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Owner(s)</h6>
                        <p><a href="#">Charlie Romer</a></p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>State</h6>
                        <p>Open</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="layout_sub_title">
                        <h3>Violation Deatils</h3>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Date Reports</h6>
                        <p>1/5/2016</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Reported By</h6>
                        <p>Dave Smith</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Current Violation occured in</h6>
                        <p>china</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Class</h6>
                        <p>oprational</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>External Exposure</h6>
                        <p>Yes</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>External Exposure Type</h6>
                        <p>Customer</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Financial Exposure</h6>
                        <p>Yes</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Potential Financial Exposure Amount</h6>
                        <p>1 - 10M</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Person(s) Accused of Violation</h6>
                        <p><a href="#">Moeton Catber</a></p>
                    </div>
                </div>
            </div>
            <div class="layout_sub_title">
                <h6>Full Description of Violation</h6>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="layout_sub_title">
                        <h3>Violation Serverity Rating</h3>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Awarness</h6>
                        <p>Training, Basic Policy Awarness</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Intention</h6>
                        <p>Deliberate</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Serevity Category</h6>
                        <p>
                            <div class="budge">
                                <a href="#">Category 3</a>
                            </div>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="tab_2 tab_list">
            <div class="layout_title">
                <h5>Brief Description 2</h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Incident Number</h6>
                        <p>31</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Owner(s)</h6>
                        <p><a href="#">Charlie Romer</a></p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>State</h6>
                        <p>Open</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="layout_sub_title">
                        <h3>Violation Deatils</h3>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Date Reports</h6>
                        <p>1/5/2016</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Reported By</h6>
                        <p>Dave Smith</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Current Violation occured in</h6>
                        <p>china</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Class</h6>
                        <p>oprational</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>External Exposure</h6>
                        <p>Yes</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>External Exposure Type</h6>
                        <p>Customer</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Financial Exposure</h6>
                        <p>Yes</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Potential Financial Exposure Amount</h6>
                        <p>1 - 10M</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Person(s) Accused of Violation</h6>
                        <p><a href="#">Moeton Catber</a></p>
                    </div>
                </div>
            </div>
            <div class="layout_sub_title">
                <h6>Full Description of Violation</h6>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="layout_sub_title">
                        <h3>Violation Serverity Rating</h3>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Awarness</h6>
                        <p>Training, Basic Policy Awarness</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Intention</h6>
                        <p>Deliberate</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Serevity Category</h6>
                        <p>
                            <div class="budge">
                                <a href="#">Category 3</a>
                            </div>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab_3 tab_list">
            <div class="layout_title">
                <h5>Brief Description 3</h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Incident Number</h6>
                        <p>31</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Owner(s)</h6>
                        <p><a href="#">Charlie Romer</a></p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>State</h6>
                        <p>Open</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="layout_sub_title">
                        <h3>Violation Deatils</h3>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Date Reports</h6>
                        <p>1/5/2016</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Reported By</h6>
                        <p>Dave Smith</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Current Violation occured in</h6>
                        <p>china</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Class</h6>
                        <p>oprational</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>External Exposure</h6>
                        <p>Yes</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>External Exposure Type</h6>
                        <p>Customer</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Financial Exposure</h6>
                        <p>Yes</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Potential Financial Exposure Amount</h6>
                        <p>1 - 10M</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Person(s) Accused of Violation</h6>
                        <p><a href="#">Moeton Catber</a></p>
                    </div>
                </div>
            </div>
            <div class="layout_sub_title">
                <h6>Full Description of Violation</h6>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="layout_sub_title">
                        <h3>Violation Serverity Rating</h3>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Awarness</h6>
                        <p>Training, Basic Policy Awarness</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Intention</h6>
                        <p>Deliberate</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Serevity Category</h6>
                        <p>
                            <div class="budge">
                                <a href="#">Category 3</a>
                            </div>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab_4 tab_list">
            <div class="layout_title">
                <h5>Brief Description 4</h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Incident Number</h6>
                        <p>31</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Owner(s)</h6>
                        <p><a href="#">Charlie Romer</a></p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>State</h6>
                        <p>Open</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="layout_sub_title">
                        <h3>Violation Deatils</h3>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Date Reports</h6>
                        <p>1/5/2016</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Reported By</h6>
                        <p>Dave Smith</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Current Violation occured in</h6>
                        <p>china</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Class</h6>
                        <p>oprational</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>External Exposure</h6>
                        <p>Yes</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>External Exposure Type</h6>
                        <p>Customer</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Financial Exposure</h6>
                        <p>Yes</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Potential Financial Exposure Amount</h6>
                        <p>1 - 10M</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Person(s) Accused of Violation</h6>
                        <p><a href="#">Moeton Catber</a></p>
                    </div>
                </div>
            </div>
            <div class="layout_sub_title">
                <h6>Full Description of Violation</h6>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="layout_sub_title">
                        <h3>Violation Serverity Rating</h3>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Awarness</h6>
                        <p>Training, Basic Policy Awarness</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Intention</h6>
                        <p>Deliberate</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Serevity Category</h6>
                        <p>
                            <div class="budge">
                                <a href="#">Category 3</a>
                            </div>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab_5 tab_list">
            <div class="layout_title">
                <h5>Brief Description 5</h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Incident Number</h6>
                        <p>31</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Owner(s)</h6>
                        <p><a href="#">Charlie Romer</a></p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>State</h6>
                        <p>Open</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="layout_sub_title">
                        <h3>Violation Deatils</h3>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Date Reports</h6>
                        <p>1/5/2016</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Reported By</h6>
                        <p>Dave Smith</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Current Violation occured in</h6>
                        <p>china</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Class</h6>
                        <p>oprational</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>External Exposure</h6>
                        <p>Yes</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>External Exposure Type</h6>
                        <p>Customer</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Financial Exposure</h6>
                        <p>Yes</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Potential Financial Exposure Amount</h6>
                        <p>1 - 10M</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Person(s) Accused of Violation</h6>
                        <p><a href="#">Moeton Catber</a></p>
                    </div>
                </div>
            </div>
            <div class="layout_sub_title">
                <h6>Full Description of Violation</h6>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="layout_sub_title">
                        <h3>Violation Serverity Rating</h3>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Awarness</h6>
                        <p>Training, Basic Policy Awarness</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Intention</h6>
                        <p>Deliberate</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="layout_sub_title">
                        <h6>Serevity Category</h6>
                        <p>
                            <div class="budge">
                                <a href="#">Category 3</a>
                            </div>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
